<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Privacy Policy per Manifesto Sardo</title>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
</head>
<body>
<div class="text-justify  m-5 p-3">
<h1 class="text-muted">Introduzione</h1>
<p>In questa pagina si descrivono le modalità di gestione del sito in riferimento al trattamento dei dati personali degli utenti che lo consultano.</p>

<p>Si tratta di un’informativa che è resa anche ai sensi del Codice in materia di protezione dei dati personali a coloro che interagiscono con i servizi digitali de il nuovo manifesto società cooperativa editrice (di seguito il manifestosardo).</p>

<p>L’informativa è resa solo per il sito del manifestosardo, le sue app e i suoi prodotti digitali e non anche per altri siti web, prodotti digitali e app eventualmente consultati dall’utente tramite link.</p>

<p>L’informativa si ispira anche alla Raccomandazione n. 2/2001 che le autorità europee per la protezione dei dati personali, riunite nel Gruppo istituito dall’art. 29 della direttiva n. 95/46/CE, hanno adottato il 17 maggio 2001 per individuare alcuni requisiti minimi per la raccolta di dati personali on-line, e, in particolare, le modalità, i tempi e la natura delle informazioni che i titolari del trattamento devono fornire agli utenti quando questi si collegano a pagine web, indipendentemente dagli scopi del collegamento, nonché del Regolamento UE n. 2016/679 sulla protezione dei dati personali (in breve, GDPR).</p>


<h1 class="text-muted"> Tipi di dati trattati</h1>
<h3 class="text-muted"> Dati di navigazione</h3>

<p>I sistemi informatici e le procedure software preposte al funzionamento di questo sito web acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet. Si tratta di informazioni che non sono raccolte per essere associate a interessati identificati, ma che per loro stessa natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permettere di identificare gli utenti.</p>

<p>In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all’ambiente informatico dell’utente.</p>

<p>Questi dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime sull’uso del sito e per controllarne il corretto funzionamento.</p>

<p>I dati potrebbero essere utilizzati per l’accertamento di responsabilità in caso di ipotetici reati informatici ai danni del sito.</p>

<p>L’indirizzo del nostro sito web è: http://ilmanifestosardo.it</p>
<h3 class="text-muted ">Cookie</h3>

<p>In breve: i cookie sono piccoli file di testo che vengono memorizzati sul tuo dispositivo al fine di essere ritrasmessi allo stesso sito alla visita successiva o a siti di terze parti se sono presenti i loro servizi.</p>

<p>La Raccomandazione n. 2/2001 definisce i cookie come “una registrazione informatica di informazioni trasmessa da un web server ad un computer dell’utente per la futura identificazione di tale computer al momento di future visite allo stesso sito web”.</p>

<p>I cookie possono essere di diversi tipi e assolvere a diverse funzionalità:</p>
<ul>
    <li>tecnici essenziali (permanenti o di sessione)</li>
    <li>“di prima parte” (first party, cioè del sito o dominio di provenienza) o “di terze parti” (third party, cioè di altri siti o servizi presenti sul sito che stai visitando)</li>
    <li>statistici (analytics)</li>
</ul>

<p>Evidenziamo comunque che, la nostra app, ed il nostro sito non fanno alcun uso di cookies.</p>



<p>Ricordiamo infine che l’Utente ha sempre la possibilità di intervenire per impedire la lettura dei cookie, ad esempio modificando le impostazioni sulla privacy all’interno del proprio browser al fine di bloccarne determinati tipi (anche se tale attività può causare il malfunzionamento di alcuni siti o limitarne le funzioni).</p>

<p>Per modificare le impostazioni del proprio browser in maniera tale da disabilitare i cookie è possibile seguire l’apposita procedura presente tra le opzioni del browser utilizzato.</p>



<h3 class="text-muted">Dati forniti volontariamente dall’utente</h3>

<p>L’invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo sito comporta la successiva acquisizione dell’indirizzo del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva.</p>

<p>Il conferimento dei dati personali nel proprio profilo del sito ha natura facoltativa ed è finalizzato a fornire e a migliorare il servizio nell’interesse del cliente.</p>

<p>Tuttavia, il mancato conferimento, anche parziale, dei dati richiesti determinerà l’impossibilità di procedere alla completa erogazione dei seguenti servizi offerti:</p>
<ul>
	<li>iscrizione alla mailinglist del manifestosardo</li>
	<li>pubblicazione commenti all interno di un articolo</li>
</ul>
<h3 class="text-muted">Utilizzo dell' App del manifestosardo</h3>

<p>L’utilizzo delle App per sistema Android sulla piattaforma Google Play è regolato dai relativi termini e condizioni di contratto, nonché dalla normativa privacy Google alla quale si rinvia.</p>

<p>A tale riguardo, l’editore non tratta alcun dato personale degli utenti delle App se non per l'erogazione dei servizi citati sopra e non utilizza alcun identificatore sul dispositivo.
<h1 class="text-muted "> Finalità del trattamento dei dati</h1>

<p>I dati personali raccolti sono trattati per i fini relativi agli scopi per i quali sono stati raccolti e quindi per il buon funzionamento dei servizi offerti sul nostro sito e la nostra app, nonché per analisi statistiche e per rispondere alle richieste eventualmente avanzate dagli utenti.</p>
<h1 class="text-muted"> Modalità di trattamento</h1>

<p>Il trattamento dei dati verrà effettuato prevalentemente mediante l’utilizzo di strumenti automatizzati per il tempo strettamente necessario a conseguire gli scopi per cui sono stati raccolti.</p>

<p>I dati saranno conservati per un periodo di tempo non superiore a quello necessario agli scopi per i quali sono stati raccolti o successivamente trattati.</p>

<p>Specifiche misure di sicurezza sono osservate per prevenire la perdita dei dati, usi illeciti o non corretti ed accessi non autorizzati.</p>

<p>In nessun caso i suoi dati saranno trattati con processi che comportano decisioni automatizzate o con processi di profilazione.</p>

<p>I dati non sono trasferiti a soggetti stabiliti in Paesi al di fuori dell’Unione Europea.</p>
<h1 class="text-muted"> Natura obbligatoria o facoltativa del conferimento dei dati</h1>

<p>A parte quanto specificato per i dati di navigazione, l’utente è libero di fornire dati personali per la richiesta di informazioni inviate via mail.</p>

<h1 class="text-muted">Comunicazione e diffusione dei dati</h1>

<p>Per il perseguimento delle finalità indicate e nei limiti di quanto a ciò strettamente necessario, i dati potranno essere portati a conoscenza di collaboratori del manifestosardo in ragione e nei limiti delle mansioni ed incarichi ai medesimi assegnati.</p>

<p>Potranno, inoltre, venire a conoscenza dei dati categorie di soggetti che svolgono attività connesse e strumentali alle attività svolte dal manifestosardo ed a cui quest’ultimo potrebbe rivolgersi – previa nomina quali responsabili del trattamento – per l’espletamento delle predette attività, nei limiti di quanto a ciò strettamente necessario e nel rispetto delle finalità indicate. Rientrano in tali categorie, a titolo meramente esemplificativo, i gestori informatici, i gestori logistici, le società di revisione contabile.</p>

<p>In nessun caso i dati sono memorizzati su sistemi non controllati direttamente da il manifestosardo e in nessun caso verranno diffusi.</p>
<h1 class="text-muted "> Titolare del trattamento</h1>

<p>Titolare del trattamento è il direttore responsabile del manifestosardo (redazione@manifestosardo.org).</p>

<p>Ai fini della tutela del diritto alla privacy in relazione ai dati personali eventualmente contenuti negli articoli della testata e trattati dal manifestosardo, nell’esercizio dell’attività giornalistica, si precisa che il Titolare del trattamento è il direttore responsabile della testata. È possibile, quindi, esercitare i diritti di cui agli artt. 15 e seguenti del GDPR (Regolamento UE 2016/679 sulla protezione dei dati personali) indirizzando le proprie richieste a: redazione@manifestosardo.org </p>
<h1 class="text-muted "> Diritti dell’interessato</h1>

<p>In qualunque momento è possibile ottenere la conferma dell’esistenza o meno dei propri dati e di conoscerne il contenuto e l’origine, verificarne l’esattezza o chiederne l’integrazione, l’aggiornamento, la rettifica, la cancellazione o anche la limitazione in caso di trattamenti in violazione di legge, nonché la trasformazione in forma anonima o di opporsi e di revocare il consenso in qualsiasi momento.</p>

<p>Gli utenti registrati alla mailinglist possono chiedere in qualsiasi momento di venirne esclusi e la cancellazione dei propri dati. Lo stesso vale per gli utenti che hanno usato la funzione commenta del nostro sito o della nostra app.</p>

<p>Per esercitare i propri diritti o per cancellare i propri dati, le relative richieste dovranno essere inviate all’indirizzo mail: redazione@manifestosardo.org</p>

<p>In caso di mancato o parziale riscontro l’interessato ha la facoltà di proporre reclamo all’autorità Garante per la protezione dei dati personali seguendo la procedura indicata sul sito: www.garanteprivacy.it.</p>
<h1 class="text-muted "> Sicurezza</h1>

<p>Gli standard di sicurezza utilizzati dal Titolare per rendere le informazioni personali riservate e confidenziali sono in linea con quanto previsto per le misure di sicurezza indicate dalle migliori prassi e dal GDPR.</p>

<p>La navigazione e tutti i servizi sul sito, sono gestite con trasmissione di dati attraverso la crittografia SSL (Secure Socket Layers) con protocollo TLS </p>

</div>
</body>
</html>
